In [20]:
import pandas as pd
import gmaps
# # Google developer API key
# from config import gkey

# # Access maps with unique API key
# gmaps.configure(api_key=gkey)

In [16]:
# Lat, Lng data from https://public.opendatasoft.com
path = '../../Resources/GeoData/us-zip-code-latitude-and-longitude.csv'

zip_data = pd.DataFrame(pd.read_csv(path, index_col=False))

zip_data

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,71937,Cove,AR,34.398483,-94.393980,-6,1,34.398483
1,72044,Edgemont,AR,35.624351,-92.160560,-6,1,35.624351
2,56171,Sherburn,MN,43.660847,-94.743570,-6,1,43.660847
3,49430,Lamont,MI,43.010337,-85.897540,-5,1,43.010337
4,52585,Richland,IA,41.194129,-91.980270,-6,1,41.194129
...,...,...,...,...,...,...,...,...
43186,62833,Ellery,IL,38.361654,-88.164840,-6,1,38.361654
43187,34711,Clermont,FL,28.545742,-81.748050,-5,1,28.545742
43188,72410,Alicia,AR,35.930405,-91.076640,-6,1,35.930405
43189,35560,Goodsprings,AL,33.679503,-87.237372,-6,1,33.679503
43190,76006,Arlington,TX,32.778047,-97.080880,-6,1,32.778047

In [29]:
path2 = '../../Resources/permits_by_zip.csv'

permits = pd.DataFrame(pd.read_csv(path2, header=None))

permits = permits.rename(columns = {0:'Zip', 1:'Permits Issued (2008-2018)'})

permits.head()

       Zip  Permits Issued (2008-2018)
0  78704.0                       44889
1  78745.0                       34643
2  78748.0                       31675
3  78723.0                       29773
4  78703.0                       28982

In [32]:
permits_zip = pd.merge(permits, zip_data, on='Zip',how='left')

permits_zip.head()

,Zip,Permits Issued (2008-2018),City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,78704.0,44889,Austin,TX,30.246309,-97.76087,-6,1,30.246309
1,78745.0,34643,Austin,TX,30.207559,-97.79575,-6,1,30.207559
2,78748.0,31675,Austin,TX,30.172020,-97.82265,-6,1,30.172020
3,78723.0,29773,Austin,TX,30.306507,-97.68651,-6,1,30.306507
4,78703.0,28982,Austin,TX,30.290907,-97.76277,-6,1,30.290907

In [37]:
geocords = []
permit_count = []

# A loop to add geo coordinates multiple times depending on humidity 
for index, row in permits_zip.iterrows():
    geocords.append((row['Latitude'], row['Longitude']))
    permit_count.append(row['Permits Issued (2008-2018)'])

# Plot Heatmap
figure_layout = {
    'width': '1000px',
    'height': '750px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

fig.add_layer(gmaps.heatmap_layer(geocords,permit_count))
fig

Figure(layout=FigureLayout(border='1px solid black', height='750px', margin='0 auto 0 auto', padding='1px', wiâ€¦