In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
path = '../../resources/BEA.gov/CAINC1 Personal Income Summary Personal Income, Population, Per Capita_multi-cities.csv'
# path2 = '../../resources/BEA.gov/CAINC4 Personal Income and Employment by Major Component_multi-cities.csv'

df = pd.DataFrame(pd.read_csv(path))
# df2 = pd.DataFrame(pd.read_csv(path2))

In [9]:
df

,GeoFips,GeoName,LineCode,Description,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",1,Personal income (thousands of dollars),70355303,77881693,85635903,88950627,97181958,103244100,107664294,117458116,127439164
1,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",2,Population (persons) 1/,1727528,1780605,1834926,1883901,1943409,2002591,2062211,2115230,2168316
2,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",3,Per capita personal income (dollars) 2/,40726,43739,46670,47216,50006,51555,52208,55530,58773
3,14460,"Boston-Cambridge-Newton, MA-NH (Metropolitan S...",1,Personal income (thousands of dollars),265132347,278612314,291048881,293546105,310121199,331696214,344041629,362272886,383664542
4,14460,"Boston-Cambridge-Newton, MA-NH (Metropolitan S...",2,Population (persons) 1/,4566449,4609467,4656698,4703321,4747822,4779753,4811098,4844597,4875390
5,14460,"Boston-Cambridge-Newton, MA-NH (Metropolitan S...",3,Per capita personal income (dollars) 2/,58061,60443,62501,62413,65319,69396,71510,74779,78694
6,31540,"Madison, WI (Metropolitan Statistical Area)",1,Personal income (thousands of dollars),26341322,28366282,29762659,30784797,32211954,34121345,35444484,37111247,39209592
7,31540,"Madison, WI (Metropolitan Statistical Area)",2,Population (persons) 1/,606603,613078,619693,626853,633417,640028,647958,654577,660422
8,31540,"Madison, WI (Metropolitan Statistical Area)",3,Per capita personal income (dollars) 2/,43424,46269,48028,49110,50854,53312,54702,56695,59371
9,42660,"Seattle-Tacoma-Bellevue, WA (Metropolitan Stat...",1,Personal income (thousands of dollars),168310441,179835829,198375359,204317849,223595287,237793064,253114158,271575069,293954143
10,42660,"Seattle-Tacoma-Bellevue, WA (Metropolitan Stat...",2,Population (persons) 1/,3449275,3499104,3554484,3610838,3672067,3738316,3814369,3884469,3939363
11,42660,"Seattle-Tacoma-Bellevue, WA (Metropolitan Stat...",3,Per capita personal income (dollars) 2/,48796,51395,55810,56585,60891,63610,66358,69913,74620