In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Clean Education Data

In [2]:
# Import CSV files for education data
edu_file_2012 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2012.csv"
edu_file_2013 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2013.csv"
edu_file_2014 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2014.csv"
edu_file_2015 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2015.csv"
edu_file_2016 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2016.csv"
edu_file_2017 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2017.csv"
edu_file_2018 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2018.csv"

# Read CSVs
ed_csv_2012 = pd.read_csv(edu_file_2012)
ed_csv_2013 = pd.read_csv(edu_file_2013)
ed_csv_2014 = pd.read_csv(edu_file_2014)
ed_csv_2015 = pd.read_csv(edu_file_2015)
ed_csv_2016 = pd.read_csv(edu_file_2016)
ed_csv_2017 = pd.read_csv(edu_file_2017)
ed_csv_2018 = pd.read_csv(edu_file_2018)

# Convert CSVs to Dataframe
ed_2012_df = pd.DataFrame(ed_csv_2012)
ed_2013_df = pd.DataFrame(ed_csv_2013)
ed_2014_df = pd.DataFrame(ed_csv_2014)
ed_2015_df = pd.DataFrame(ed_csv_2015)
ed_2016_df = pd.DataFrame(ed_csv_2016)
ed_2017_df = pd.DataFrame(ed_csv_2017)
ed_2018_df = pd.DataFrame(ed_csv_2018)

In [3]:
# Merge Dataframes
education_df = pd.merge(ed_2012_df, ed_2013_df, on="Zipcode", how="outer")

# Rename x columns
education_df = education_df.rename(columns={"Education (No Schooling)_x": "Education (No Schooling)_2012", 
                                           "Education (High School)_x": "Education (High School)_2012",
                                           "Education (GED)_x": "Education (GED)_2012",
                                           "Education (Associate's)_x": "Education (Associate's)_2012",
                                           "Education (Bachelor's)_x": "Education (Bachelor's)_2012",
                                           "Education (Master's)_x": "Education (Master's)_2012",
                                           "Education (Professional)_x": "Education (Master's)_2012",
                                           "Education (Doctorate)_x": "Education (Doctorate)_2012",
                                           "NAME_x": "NAME_2012"})

# Rename y columns
education_df = education_df.rename(columns={"Education (No Schooling)_y": "Education (No Schooling)_2013", 
                                           "Education (High School)_y": "Education (High School)_2013",
                                           "Education (GED)_y": "Education (GED)_2013",
                                           "Education (Associate's)_y": "Education (Associate's)_2013",
                                           "Education (Bachelor's)_y": "Education (Bachelor's)_2013",
                                           "Education (Master's)_y": "Education (Master's)_2013",
                                           "Education (Professional)_y": "Education (Master's)_2013",
                                           "Education (Doctorate)_y": "Education (Doctorate)_2013",
                                           "NAME_y": "NAME_2013"})

### Clean Education Data

Import CSVs

In [4]:
# Import CSV files for population data
pop_file_2011 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2011.csv"
pop_file_2012 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2012.csv"
pop_file_2013 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2013.csv"
pop_file_2014 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2014.csv"
pop_file_2015 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2015.csv"
pop_file_2016 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2016.csv"
pop_file_2017 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2017.csv"
pop_file_2018 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2018.csv"


# Read CSVs
pop_csv_2011 = pd.read_csv(pop_file_2011)
pop_csv_2012 = pd.read_csv(pop_file_2012)
pop_csv_2013 = pd.read_csv(pop_file_2013)
pop_csv_2014 = pd.read_csv(pop_file_2014)
pop_csv_2015 = pd.read_csv(pop_file_2015)
pop_csv_2016 = pd.read_csv(pop_file_2016)
pop_csv_2017 = pd.read_csv(pop_file_2017)
pop_csv_2018 = pd.read_csv(pop_file_2018)

# Convert CSVs to Dataframe
pop_2011_df = pd.DataFrame(pop_csv_2011)
pop_2012_df = pd.DataFrame(pop_csv_2012)
pop_2013_df = pd.DataFrame(pop_csv_2013)
pop_2014_df = pd.DataFrame(pop_csv_2014)
pop_2015_df = pd.DataFrame(pop_csv_2015)
pop_2016_df = pd.DataFrame(pop_csv_2016)
pop_2017_df = pd.DataFrame(pop_csv_2017)
pop_2018_df = pd.DataFrame(pop_csv_2018)

Merge 2011 and 2012 data

In [5]:
# Merge Dataframes
population_df = pd.merge(pop_2011_df, pop_2012_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age_x": "Median Age_2011", 
                                              "Population_x": "Population_2011",
                                              "Population (White Alone)_x": "Population (White Alone)_2011",
                                              "Population (Black Alone)_x": "Population (Black Alone)_2011",
                                              "Population (American Indian or Alaskan Native Alone)_x": "Population (American Indian or Alaskan Native Alone)_2011",
                                              "Population (Asian Alone)_x": "Population (Asian Alone)_2011",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)_x": "Population (Native Hawaiian and Other Pacific Islander Alone)_2011",
                                              "Population (Two or more races)_x": "Population (Two or more races)_2011",
                                              "Household Income_x": "Household Income_2011",
                                              "Per Capita Income_x": "Per Capita Income_2011",
                                              "Employed_x": "Employed_2011",
                                              "Unemployed_x": "Unemployed_2011",
                                              "NAME_x": "NAME_2011",
                                              "Year_x": "Year_2011"})

# Rename y columns
population_df = population_df.rename(columns={"Median Age_y": "Median Age_2012", 
                                              "Population_y": "Population_2012",
                                              "Population (White Alone)_y": "Population (White Alone)_2012",
                                              "Population (Black Alone)_y": "Population (Black Alone)_2012",
                                              "Population (American Indian or Alaskan Native Alone)_y": "Population (American Indian or Alaskan Native Alone)_2012",
                                              "Population (Asian Alone)_y": "Population (Asian Alone)_2012",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)_y": "Population (Native Hawaiian and Other Pacific Islander Alone)_2012",
                                              "Population (Two or more races)_y": "Population (Two or more races)_2012",
                                              "Household Income_y": "Household Income_2012",
                                              "Per Capita Income_y": "Per Capita Income_2012",
                                              "Employed_y": "Employed_2012",
                                              "Unemployed_y": "Unemployed_2012",
                                              "NAME_y": "NAME_2012",
                                              "Year_y": "Year_2012"})
population_df.head()

,Zipcode,Median Age_2011,Population_2011,Population (White Alone)_2011,Population (Black Alone)_2011,Population (American Indian or Alaskan Native Alone)_2011,Population (Asian Alone)_2011,Population (Native Hawaiian and Other Pacific Islander Alone)_2011,Population (Two or more races)_2011,Household Income_2011,...,Population (American Indian or Alaskan Native Alone)_2012,Population (Asian Alone)_2012,Population (Native Hawaiian and Other Pacific Islander Alone)_2012,Population (Two or more races)_2012,Household Income_2012,Per Capita Income_2012,Employed_2012,Unemployed_2012,NAME_2012,Year_2012
0,78610,35.9,22052.0,17817.0,333.0,78.0,170.0,8.0,346.0,82702.0,...,79.0,189.0,13.0,406.0,83536.0,31452.0,12154.0,946.0,ZCTA5 78610,2012
1,78613,33.9,63901.0,50457.0,3520.0,196.0,3954.0,25.0,1744.0,81819.0,...,153.0,4559.0,27.0,1947.0,80694.0,33747.0,32358.0,2530.0,ZCTA5 78613,2012
2,78617,28.8,18572.0,10266.0,1762.0,284.0,258.0,0.0,628.0,44334.0,...,388.0,223.0,0.0,594.0,43957.0,15559.0,7747.0,1377.0,ZCTA5 78617,2012
3,78641,32.2,43655.0,37893.0,1457.0,113.0,801.0,0.0,1114.0,67683.0,...,80.0,890.0,0.0,1158.0,64442.0,27830.0,23422.0,1761.0,ZCTA5 78641,2012
4,78652,39.1,4256.0,3765.0,131.0,0.0,37.0,0.0,65.0,79107.0,...,0.0,62.0,0.0,123.0,77985.0,35796.0,2673.0,169.0,ZCTA5 78652,2012

Merge data frame with 2013 data

In [6]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2013_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2013", 
                                              "Population": "Population_2013",
                                              "Population (White Alone)": "Population (White Alone)_2013",
                                              "Population (Black Alone)": "Population (Black Alone)_2013",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2013",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2013",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2013",
                                              "Population (Two or more races)": "Population (Two or more races)_2013",
                                              "Household Income": "Household Income_2013",
                                              "Per Capita Income": "Per Capita Income_2013",
                                              "Employed": "Employed_2013",
                                              "Unemployed": "Unemployed_2013",
                                              "NAME": "NAME_2013",
                                              "Year": "Year_2013"})

population_df.head()

,Zipcode,Median Age_2011,Population_2011,Population (White Alone)_2011,Population (Black Alone)_2011,Population (American Indian or Alaskan Native Alone)_2011,Population (Asian Alone)_2011,Population (Native Hawaiian and Other Pacific Islander Alone)_2011,Population (Two or more races)_2011,Household Income_2011,...,Population (Black Alone)_2013,Population (American Indian or Alaskan Native Alone)_2013,Population (Asian Alone)_2013,Population (Native Hawaiian and Other Pacific Islander Alone)_2013,Population (Two or more races)_2013,Household Income_2013,Per Capita Income_2013,Employed_2013,Unemployed_2013,NAME_2013
0,78610,35.9,22052.0,17817.0,333.0,78.0,170.0,8.0,346.0,82702.0,...,590.0,93.0,301.0,69.0,657.0,79049.0,31048.0,12926.0,1104.0,ZCTA5 78610
1,78613,33.9,63901.0,50457.0,3520.0,196.0,3954.0,25.0,1744.0,81819.0,...,2864.0,140.0,4992.0,23.0,1910.0,81928.0,34311.0,33830.0,2658.0,ZCTA5 78613
2,78617,28.8,18572.0,10266.0,1762.0,284.0,258.0,0.0,628.0,44334.0,...,2435.0,367.0,434.0,0.0,671.0,45212.0,15029.0,7938.0,1450.0,ZCTA5 78617
3,78641,32.2,43655.0,37893.0,1457.0,113.0,801.0,0.0,1114.0,67683.0,...,1517.0,128.0,949.0,0.0,1460.0,71885.0,29372.0,24117.0,1887.0,ZCTA5 78641
4,78652,39.1,4256.0,3765.0,131.0,0.0,37.0,0.0,65.0,79107.0,...,124.0,0.0,55.0,0.0,115.0,76604.0,35643.0,2775.0,234.0,ZCTA5 78652

Merge data frame with 2014 data

In [7]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2014_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2014", 
                                              "Population": "Population_2014",
                                              "Population (White Alone)": "Population (White Alone)_2014",
                                              "Population (Black Alone)": "Population (Black Alone)_2014",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2014",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2014",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2014",
                                              "Population (Two or more races)": "Population (Two or more races)_2014",
                                              "Household Income": "Household Income_2014",
                                              "Per Capita Income": "Per Capita Income_2014",
                                              "Employed": "Employed_2014",
                                              "Unemployed": "Unemployed_2014",
                                              "NAME": "NAME_2014",
                                              "Year": "Year_2014"})

population_df.head()

,Zipcode,Median Age_2011,Population_2011,Population (White Alone)_2011,Population (Black Alone)_2011,Population (American Indian or Alaskan Native Alone)_2011,Population (Asian Alone)_2011,Population (Native Hawaiian and Other Pacific Islander Alone)_2011,Population (Two or more races)_2011,Household Income_2011,...,Population (American Indian or Alaskan Native Alone)_2014,Population (Asian Alone)_2014,Population (Native Hawaiian and Other Pacific Islander Alone)_2014,Population (Two or more races)_2014,Household Income_2014,Per Capita Income_2014,Employed_2014,Unemployed_2014,NAME_2014,Year_2014
0,78610,35.9,22052.0,17817.0,333.0,78.0,170.0,8.0,346.0,82702.0,...,109.0,199.0,104.0,1029.0,74550.0,29996.0,13127.0,1030.0,ZCTA5 78610,2014
1,78613,33.9,63901.0,50457.0,3520.0,196.0,3954.0,25.0,1744.0,81819.0,...,158.0,5498.0,0.0,2358.0,83146.0,35314.0,34962.0,2383.0,ZCTA5 78613,2014
2,78617,28.8,18572.0,10266.0,1762.0,284.0,258.0,0.0,628.0,44334.0,...,267.0,336.0,0.0,551.0,45040.0,15038.0,8339.0,1471.0,ZCTA5 78617,2014
3,78641,32.2,43655.0,37893.0,1457.0,113.0,801.0,0.0,1114.0,67683.0,...,228.0,910.0,0.0,1696.0,73535.0,29910.0,25872.0,1994.0,ZCTA5 78641,2014
4,78652,39.1,4256.0,3765.0,131.0,0.0,37.0,0.0,65.0,79107.0,...,75.0,63.0,2.0,143.0,70868.0,33957.0,2825.0,275.0,ZCTA5 78652,2014

Merge data frame with 2015 data

In [8]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2015_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2015", 
                                              "Population": "Population_2015",
                                              "Population (White Alone)": "Population (White Alone)_2015",
                                              "Population (Black Alone)": "Population (Black Alone)_2015",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2015",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2015",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2015",
                                              "Population (Two or more races)": "Population (Two or more races)_2015",
                                              "Household Income": "Household Income_2015",
                                              "Per Capita Income": "Per Capita Income_2015",
                                              "Employed": "Employed_2015",
                                              "Unemployed": "Unemployed_2015",
                                              "NAME": "NAME_2015",
                                              "Year": "Year_2015"})

population_df.head()

,Zipcode,Median Age_2011,Population_2011,Population (White Alone)_2011,Population (Black Alone)_2011,Population (American Indian or Alaskan Native Alone)_2011,Population (Asian Alone)_2011,Population (Native Hawaiian and Other Pacific Islander Alone)_2011,Population (Two or more races)_2011,Household Income_2011,...,Population (American Indian or Alaskan Native Alone)_2015,Population (Asian Alone)_2015,Population (Native Hawaiian and Other Pacific Islander Alone)_2015,Population (Two or more races)_2015,Household Income_2015,Per Capita Income_2015,Employed_2015,Unemployed_2015,NAME_2015,Year_2015
0,78610,35.9,22052.0,17817.0,333.0,78.0,170.0,8.0,346.0,82702.0,...,111.0,330.0,124.0,967.0,74250.0,29610.0,14466.0,977.0,ZCTA5 78610,2015
1,78613,33.9,63901.0,50457.0,3520.0,196.0,3954.0,25.0,1744.0,81819.0,...,246.0,5924.0,30.0,2395.0,84556.0,34849.0,36754.0,2273.0,ZCTA5 78613,2015
2,78617,28.8,18572.0,10266.0,1762.0,284.0,258.0,0.0,628.0,44334.0,...,305.0,533.0,0.0,1024.0,45995.0,15645.0,9207.0,1708.0,ZCTA5 78617,2015
3,78641,32.2,43655.0,37893.0,1457.0,113.0,801.0,0.0,1114.0,67683.0,...,155.0,926.0,0.0,1977.0,77052.0,31313.0,26832.0,1579.0,ZCTA5 78641,2015
4,78652,39.1,4256.0,3765.0,131.0,0.0,37.0,0.0,65.0,79107.0,...,72.0,66.0,19.0,108.0,73194.0,34362.0,2935.0,245.0,ZCTA5 78652,2015

Merge data frame with 2016 data

In [9]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2016_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2016", 
                                              "Population": "Population_2016",
                                              "Population (White Alone)": "Population (White Alone)_2016",
                                              "Population (Black Alone)": "Population (Black Alone)_2016",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2016",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2016",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2016",
                                              "Population (Two or more races)": "Population (Two or more races)_2016",
                                              "Household Income": "Household Income_2016",
                                              "Per Capita Income": "Per Capita Income_2016",
                                              "Employed": "Employed_2016",
                                              "Unemployed": "Unemployed_2016",
                                              "NAME": "NAME_2016",
                                              "Year": "Year_2016"})

population_df.head()

,Zipcode,Median Age_2011,Population_2011,Population (White Alone)_2011,Population (Black Alone)_2011,Population (American Indian or Alaskan Native Alone)_2011,Population (Asian Alone)_2011,Population (Native Hawaiian and Other Pacific Islander Alone)_2011,Population (Two or more races)_2011,Household Income_2011,...,Population (American Indian or Alaskan Native Alone)_2016,Population (Asian Alone)_2016,Population (Native Hawaiian and Other Pacific Islander Alone)_2016,Population (Two or more races)_2016,Household Income_2016,Per Capita Income_2016,Employed_2016,Unemployed_2016,NAME_2016,Year_2016
0,78610,35.9,22052.0,17817.0,333.0,78.0,170.0,8.0,346.0,82702.0,...,56.0,471.0,125.0,885.0,75453.0,30388.0,15418.0,983.0,ZCTA5 78610,2016
1,78613,33.9,63901.0,50457.0,3520.0,196.0,3954.0,25.0,1744.0,81819.0,...,311.0,6427.0,19.0,2920.0,91033.0,35957.0,37399.0,1782.0,ZCTA5 78613,2016
2,78617,28.8,18572.0,10266.0,1762.0,284.0,258.0,0.0,628.0,44334.0,...,332.0,343.0,0.0,735.0,47551.0,16737.0,10446.0,898.0,ZCTA5 78617,2016
3,78641,32.2,43655.0,37893.0,1457.0,113.0,801.0,0.0,1114.0,67683.0,...,239.0,1204.0,0.0,2347.0,83526.0,33138.0,28321.0,1594.0,ZCTA5 78641,2016
4,78652,39.1,4256.0,3765.0,131.0,0.0,37.0,0.0,65.0,79107.0,...,92.0,65.0,12.0,71.0,78594.0,34131.0,2647.0,52.0,ZCTA5 78652,2016

Merge data frame with 2017 data

In [10]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2017_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2017", 
                                              "Population": "Population_2017",
                                              "Population (White Alone)": "Population (White Alone)_2017",
                                              "Population (Black Alone)": "Population (Black Alone)_2017",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2017",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2017",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2017",
                                              "Population (Two or more races)": "Population (Two or more races)_2017",
                                              "Household Income": "Household Income_2017",
                                              "Per Capita Income": "Per Capita Income_2017",
                                              "Employed": "Employed_2017",
                                              "Unemployed": "Unemployed_2017",
                                              "NAME": "NAME_2017",
                                              "Year": "Year_2017"})

population_df.head()

,Zipcode,Median Age_2011,Population_2011,Population (White Alone)_2011,Population (Black Alone)_2011,Population (American Indian or Alaskan Native Alone)_2011,Population (Asian Alone)_2011,Population (Native Hawaiian and Other Pacific Islander Alone)_2011,Population (Two or more races)_2011,Household Income_2011,...,Population (American Indian or Alaskan Native Alone)_2017,Population (Asian Alone)_2017,Population (Native Hawaiian and Other Pacific Islander Alone)_2017,Population (Two or more races)_2017,Household Income_2017,Per Capita Income_2017,Employed_2017,Unemployed_2017,NAME_2017,Year_2017
0,78610,35.9,22052.0,17817.0,333.0,78.0,170.0,8.0,346.0,82702.0,...,58.0,535.0,146.0,1319.0,76623.0,31766.0,17341.0,840.0,ZCTA5 78610,2017
1,78613,33.9,63901.0,50457.0,3520.0,196.0,3954.0,25.0,1744.0,81819.0,...,339.0,6448.0,74.0,3320.0,96857.0,38378.0,39590.0,1537.0,ZCTA5 78613,2017
2,78617,28.8,18572.0,10266.0,1762.0,284.0,258.0,0.0,628.0,44334.0,...,278.0,433.0,0.0,785.0,52819.0,18598.0,11830.0,729.0,ZCTA5 78617,2017
3,78641,32.2,43655.0,37893.0,1457.0,113.0,801.0,0.0,1114.0,67683.0,...,254.0,1643.0,0.0,2367.0,88562.0,35246.0,31014.0,1327.0,ZCTA5 78641,2017
4,78652,39.1,4256.0,3765.0,131.0,0.0,37.0,0.0,65.0,79107.0,...,118.0,25.0,5.0,23.0,87520.0,37864.0,2605.0,56.0,ZCTA5 78652,2017

Merge data frame with 2018 data

In [11]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2018_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2018", 
                                              "Population": "Population_2018",
                                              "Population (White Alone)": "Population (White Alone)_2018",
                                              "Population (Black Alone)": "Population (Black Alone)_2018",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2018",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2018",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2018",
                                              "Population (Two or more races)": "Population (Two or more races)_2018",
                                              "Household Income": "Household Income_2018",
                                              "Per Capita Income": "Per Capita Income_2018",
                                              "Employed": "Employed_2018",
                                              "Unemployed": "Unemployed_2018",
                                              "NAME": "NAME_2018",
                                              "Year": "Year_2018"})

population_df.head()

,Zipcode,Median Age_2011,Population_2011,Population (White Alone)_2011,Population (Black Alone)_2011,Population (American Indian or Alaskan Native Alone)_2011,Population (Asian Alone)_2011,Population (Native Hawaiian and Other Pacific Islander Alone)_2011,Population (Two or more races)_2011,Household Income_2011,...,Population (American Indian or Alaskan Native Alone)_2018,Population (Asian Alone)_2018,Population (Native Hawaiian and Other Pacific Islander Alone)_2018,Population (Two or more races)_2018,Household Income_2018,Per Capita Income_2018,Employed_2018,Unemployed_2018,NAME_2018,Year_2018
0,78610,35.9,22052.0,17817.0,333.0,78.0,170.0,8.0,346.0,82702.0,...,123.0,434.0,71.0,1064.0,79318.0,33389.0,18319.0,666.0,ZCTA5 78610,2018
1,78613,33.9,63901.0,50457.0,3520.0,196.0,3954.0,25.0,1744.0,81819.0,...,298.0,7192.0,52.0,3385.0,101832.0,39885.0,41315.0,1406.0,ZCTA5 78613,2018
2,78617,28.8,18572.0,10266.0,1762.0,284.0,258.0,0.0,628.0,44334.0,...,376.0,461.0,0.0,898.0,54940.0,19639.0,12659.0,817.0,ZCTA5 78617,2018
3,78641,32.2,43655.0,37893.0,1457.0,113.0,801.0,0.0,1114.0,67683.0,...,203.0,2017.0,96.0,3034.0,94685.0,36055.0,33057.0,1350.0,ZCTA5 78641,2018
4,78652,39.1,4256.0,3765.0,131.0,0.0,37.0,0.0,65.0,79107.0,...,99.0,50.0,17.0,88.0,82328.0,39023.0,3123.0,71.0,ZCTA5 78652,2018

Plot years