In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Clean Education Data

In [2]:
# Import CSV files for education data
edu_file_2012 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2012.csv"
edu_file_2013 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2013.csv"
edu_file_2014 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2014.csv"
edu_file_2015 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2015.csv"
edu_file_2016 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2016.csv"
edu_file_2017 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2017.csv"
edu_file_2018 = "../Resources/Census.gov/By_Year/Austin_education/Austin_education_2018.csv"

# Read CSVs
ed_csv_2012 = pd.read_csv(edu_file_2012)
ed_csv_2013 = pd.read_csv(edu_file_2013)
ed_csv_2014 = pd.read_csv(edu_file_2014)
ed_csv_2015 = pd.read_csv(edu_file_2015)
ed_csv_2016 = pd.read_csv(edu_file_2016)
ed_csv_2017 = pd.read_csv(edu_file_2017)
ed_csv_2018 = pd.read_csv(edu_file_2018)

# Convert CSVs to Dataframe
ed_2012_df = pd.DataFrame(ed_csv_2012)
ed_2013_df = pd.DataFrame(ed_csv_2013)
ed_2014_df = pd.DataFrame(ed_csv_2014)
ed_2015_df = pd.DataFrame(ed_csv_2015)
ed_2016_df = pd.DataFrame(ed_csv_2016)
ed_2017_df = pd.DataFrame(ed_csv_2017)
ed_2018_df = pd.DataFrame(ed_csv_2018)

In [3]:
# Merge Dataframes
education_df = pd.merge(ed_2012_df, ed_2013_df, on="Zipcode", how="outer")

# Rename x columns
education_df = education_df.rename(columns={"Education (No Schooling)_x": "Education (No Schooling)_2012", 
                                           "Education (High School)_x": "Education (High School)_2012",
                                           "Education (GED)_x": "Education (GED)_2012",
                                           "Education (Associate's)_x": "Education (Associate's)_2012",
                                           "Education (Bachelor's)_x": "Education (Bachelor's)_2012",
                                           "Education (Master's)_x": "Education (Master's)_2012",
                                           "Education (Professional)_x": "Education (Master's)_2012",
                                           "Education (Doctorate)_x": "Education (Doctorate)_2012"})

# Rename y columns
education_df = education_df.rename(columns={"Education (No Schooling)_y": "Education (No Schooling)_2013", 
                                           "Education (High School)_y": "Education (High School)_2013",
                                           "Education (GED)_y": "Education (GED)_2013",
                                           "Education (Associate's)_y": "Education (Associate's)_2013",
                                           "Education (Bachelor's)_y": "Education (Bachelor's)_2013",
                                           "Education (Master's)_y": "Education (Master's)_2013",
                                           "Education (Professional)_y": "Education (Master's)_2013",
                                           "Education (Doctorate)_y": "Education (Doctorate)_2013"})

In [4]:
education_df

,Zipcode,Education (No Schooling)_2012,Education (High School)_2012,Education (GED)_2012,Education (Associate's)_2012,Education (Bachelor's)_2012,Education (Master's)_2012,Education (Master's)_2012,Education (Doctorate)_2012,Education (No Schooling)_2013,Education (High School)_2013,Education (GED)_2013,Education (Associate's)_2013,Education (Bachelor's)_2013,Education (Master's)_2013,Education (Master's)_2013,Education (Doctorate)_2013
0,78610,40.0,2859.0,606.0,1093.0,3750.0,1135.0,112.0,104.0,34.0,3103.0,665.0,1182.0,3801.0,1211.0,97.0,155.0
1,78613,122.0,5852.0,998.0,3123.0,13532.0,3759.0,781.0,513.0,78.0,5730.0,1114.0,3437.0,14141.0,4377.0,802.0,514.0
2,78617,459.0,2564.0,735.0,503.0,1089.0,118.0,20.0,0.0,474.0,2982.0,812.0,454.0,1270.0,227.0,12.0,0.0
3,78641,328.0,5425.0,1430.0,2635.0,6670.0,1942.0,277.0,226.0,405.0,5219.0,1381.0,2870.0,7161.0,2025.0,211.0,211.0
4,78652,27.0,685.0,46.0,180.0,1049.0,247.0,17.0,3.0,25.0,713.0,51.0,164.0,1271.0,313.0,22.0,10.0
5,78653,251.0,1981.0,348.0,708.0,1396.0,331.0,196.0,45.0,278.0,1916.0,331.0,778.0,1744.0,391.0,145.0,42.0
6,78660,474.0,7492.0,1332.0,4813.0,10597.0,3218.0,334.0,406.0,660.0,8068.0,1518.0,4886.0,11731.0,4151.0,282.0,402.0
7,78664,506.0,6014.0,1154.0,2495.0,7093.0,2063.0,279.0,233.0,512.0,6602.0,1231.0,2509.0,7320.0,2212.0,439.0,332.0
8,78681,207.0,4036.0,870.0,2650.0,10379.0,4082.0,579.0,496.0,281.0,4230.0,923.0,2573.0,10708.0,4191.0,557.0,463.0
9,78701,38.0,319.0,40.0,100.0,1788.0,907.0,434.0,280.0,33.0,361.0,20.0,75.0,1915.0,1092.0,507.0,282.0
10,78702,508.0,2706.0,579.0,479.0,2895.0,774.0,137.0,139.0,517.0,2516.0,730.0,323.0,3205.0,1002.0,178.0,174.0
11,78703,115.0,595.0,206.0,188.0,6392.0,3402.0,1841.0,717.0,25.0,460.0,128.0,223.0,6595.0,3315.0,2016.0,611.0
12,78704,260.0,2952.0,436.0,1594.0,10237.0,3741.0,1397.0,764.0,227.0,2891.0,556.0,1546.0,11110.0,3834.0,1584.0,759.0
13,78705,65.0,275.0,81.0,241.0,1926.0,1214.0,276.0,420.0,98.0,296.0,80.0,242.0,2165.0,1014.0,179.0,418.0
14,78712,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,78717,28.0,1550.0,197.0,1587.0,5655.0,2501.0,293.0,376.0,58.0,1467.0,471.0,1524.0,5546.0,2455.0,295.0,423.0
16,78719,22.0,156.0,93.0,20.0,91.0,46.0,39.0,0.0,25.0,201.0,89.0,20.0,76.0,48.0,0.0,0.0
17,78721,260.0,1593.0,382.0,266.0,749.0,159.0,47.0,10.0,296.0,1599.0,419.0,249.0,783.0,187.0,38.0,19.0
18,78722,0.0,492.0,62.0,137.0,1954.0,651.0,101.0,149.0,0.0,401.0,46.0,189.0,1978.0,859.0,102.0,197.0
19,78723,561.0,3129.0,888.0,708.0,3602.0,1364.0,270.0,254.0,503.0,3116.0,1021.0,785.0,4098.0,1605.0,324.0,315.0
20,78724,232.0,2638.0,529.0,655.0,828.0,234.0,59.0,18.0,174.0,2740.0,582.0,683.0,915.0,245.0,18.0,71.0
21,78725,133.0,792.0,145.0,164.0,565.0,143.0,0.0,9.0,61.0,1153.0,97.0,120.0,597.0,127.0,0.0,15.0
22,78726,0.0,599.0,230.0,679.0,2557.0,1539.0,87.0,240.0,39.0,520.0,278.0,515.0,2793.0,1880.0,218.0,229.0
23,78727,42.0,2326.0,458.0,1103.0,7147.0,2559.0,313.0,405.0,34.0,2392.0,509.0,1212.0,7164.0,2317.0,353.0,426.0
24,78728,137.0,2326.0,330.0,1361.0,3683.0,1366.0,168.0,139.0,90.0,2152.0,310.0,1370.0,3850.0,1475.0,199.0,138.0
25,78729,45.0,2754.0,252.0,1343.0,6122.0,1690.0,420.0,170.0,38.0,2461.0,184.0,1212.0,5694.0,1919.0,402.0,158.0
26,78730,0.0,281.0,68.0,325.0,2200.0,1083.0,337.0,258.0,0.0,239.0,67.0,356.0,2543.0,1220.0,320.0,279.0
27,78731,40.0,1066.0,88.0,748.0,6952.0,3625.0,1810.0,1165.0,69.0,1020.0,122.0,688.0,7528.0,3747.0,1642.0,1052.0
28,78732,0.0,551.0,174.0,318.0,3897.0,1824.0,424.0,260.0,0.0,606.0,163.0,434.0,4010.0,1914.0,466.0,462.0
29,78733,18.0,465.0,68.0,293.0,2034.0,1377.0,536.0,269.0,12.0,567.0,86.0,242.0,2106.0,1240.0,612.0,326.0
30,78734,38.0,1787.0,191.0,574.0,4261.0,1471.0,350.0,307.0,47.0,1830.0,261.0,591.0,4408.0,1497.0,301.0,242.0
31,78735,62.0,778.0,110.0,560.0,4854.0,1672.0,701.0,425.0,102.0,730.0,96.0,605.0,4952.0,1822.0,766.0,437.0
32,78736,37.0,776.0,167.0,337.0,1727.0,731.0,79.0,113.0,56.0,652.0,110.0,270.0,1803.0,833.0,62.0,86.0
33,78737,1.0,884.0,118.0,477.0,3335.0,1302.0,416.0,277.0,1.0,859.0,106.0,546.0,3463.0,1447.0,433.0,306.0
34,78738,2.0,554.0,67.0,412.0,3788.0,1505.0,359.0,108.0,2.0,618.0,57.0,490.0,3865.0,1552.0,400.0,133.0
35,78739,50.0,675.0,50.0,523.0,4569.0,1900.0,594.0,358.0,44.0,687.0,74.0,484.0,4754.0,2002.0,529.0,353.0
36,78741,512.0,4161.0,1020.0,1139.0,3655.0,1294.0,224.0,223.0,510.0,4525.0,1035.0,1107.0,3866.0,1351.0,225.0,237.0
37,78742,5.0,95.0,42.0,5.0,53.0,22.0,0.0,4.0,7.0,66.0,41.0,8.0,68.0,40.0,0.0,5.0
38,78744,946.0,4877.0,1320.0,1225.0,2291.0,652.0,220.0,29.0,1147.0,5452.0,1331.0,1233.0,2478.0,664.0,201.0,35.0
39,78745,374.0,6559.0,1458.0,2829.0,9756.0,3007.0,537.0,406.0,298.0,6923.0,1836.0,2426.0,10258.0,3204.0,587.0,359.0
40,78746,7.0,676.0,185.0,637.0,7965.0,3885.0,2025.0,1037.0,18.0,783.0,167.0,625.0,8101.0,3972.0,2097.0,966.0
41,78747,152.0,1879.0,488.0,601.0,1869.0,403.0,100.0,100.0,201.0,2194.0,434.0,584.0,2354.0,406.0,133.0,118.0
42,78748,133.0,4341.0,761.0,1972.0,7765.0,2572.0,275.0,238.0,134.0,4469.0,801.0,2116.0,8639.0,2750.0,297.0,217.0
43,78749,69.0,2405.0,430.0,1500.0,9074.0,3654.0,599.0,637.0,74.0,2437.0,339.0,1572.0,9571.0,3755.0,725.0,633.0
44,78750,76.0,2313.0,425.0,1144.0,6514.0,2611.0,845.0,892.0,61.0,2264.0,409.0,1082.0,6564.0,2470.0,801.0,761.0
45,78751,69.0,549.0,175.0,523.0,3262.0,1622.0,218.0,547.0,52.0,501.0,189.0,438.0,3468.0,1893.0,277.0,488.0
46,78752,333.0,1945.0,438.0,551.0,1691.0,830.0,37.0,140.0,339.0,2075.0,480.0,493.0,2095.0,807.0,88.0,120.0
47,78753,1038.0,7005.0,789.0,1628.0,4396.0,1376.0,241.0,202.0,967.0,6852.0,1143.0,1645.0,4746.0,1238.0,167.0,186.0
48,78754,159.0,1480.0,417.0,699.0,2426.0,795.0,83.0,102.0,187.0,2008.0,516.0,698.0,2516.0,902.0,97.0,127.0
49,78756,3.0,478.0,97.0,225.0,2275.0,1180.0,168.0,295.0,9.0,328.0,152.0,251.0,2218.0,1293.0,211.0,339.0
50,78757,111.0,2280.0,376.0,914.0,5140.0,2334.0,519.0,493.0,116.0,2178.0,384.0,926.0,5220.0,2528.0,514.0,461.0
51,78758,482.0,4916.0,1197.0,1697.0,6078.0,2188.0,153.0,210.0,562.0,5270.0,1200.0,1690.0,6744.0,2167.0,169.0,200.0
52,78759,19.0,2555.0,412.0,1454.0,11152.0,5081.0,1346.0,1386.0,47.0,2476.0,424.0,1484.0,11325.0,5109.0,1497.0,1299.0
53,2012,2012.0,2012.0,2012.0,2012.0,2012.0,2012.0,2012.0,2012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,2013.0,2013.0,2013.0,2013.0,2013.0,2013.0,2013.0

In [5]:
ed_2014_df.head()

,Zipcode,Education (No Schooling),Education (High School),Education (GED),Education (Associate's),Education (Bachelor's),Education (Master's),Education (Professional),Education (Doctorate)
0,78610,40.0,3401.0,717.0,1122.0,3991.0,1428.0,112.0,145.0
1,78613,95.0,5901.0,1319.0,3464.0,14732.0,5041.0,896.0,578.0
2,78617,579.0,2953.0,1000.0,584.0,1172.0,243.0,70.0,17.0
3,78641,527.0,5682.0,1351.0,2955.0,7370.0,2109.0,276.0,288.0
4,78652,41.0,748.0,68.0,142.0,1370.0,293.0,41.0,29.0

Merge with 2014 data

In [6]:
# Merge Dataframes
education_df = pd.merge(education_df, ed_2014_df, on="Zipcode", how="outer")

# Rename x columns
education_df = education_df.rename(columns={"Education (No Schooling)": "Education (No Schooling)_2014", 
                                           "Education (High School)": "Education (High School)_2014",
                                           "Education (GED)": "Education (GED)_2014",
                                           "Education (Associate's)": "Education (Associate's)_2014",
                                           "Education (Bachelor's)": "Education (Bachelor's)_2014",
                                           "Education (Master's)": "Education (Master's)_2014",
                                           "Education (Professional)": "Education (Master's)_2014",
                                           "Education (Doctorate)": "Education (Doctorate)_2014"})

Merge with 2015 data

In [7]:
# Merge Dataframes
education_df = pd.merge(education_df, ed_2015_df, on="Zipcode", how="outer")

# Rename x columns
education_df = education_df.rename(columns={"Education (No Schooling)": "Education (No Schooling)_2015", 
                                           "Education (High School)": "Education (High School)_2015",
                                           "Education (GED)": "Education (GED)_2015",
                                           "Education (Associate's)": "Education (Associate's)_2015",
                                           "Education (Bachelor's)": "Education (Bachelor's)_2015",
                                           "Education (Master's)": "Education (Master's)_2015",
                                           "Education (Professional)": "Education (Master's)_2015",
                                           "Education (Doctorate)": "Education (Doctorate)_2015"})

Merge with 2016 data

In [8]:
# Merge Dataframes
education_df = pd.merge(education_df, ed_2016_df, on="Zipcode", how="outer")

# Rename x columns
education_df = education_df.rename(columns={"Education (No Schooling)": "Education (No Schooling)_2016", 
                                           "Education (High School)": "Education (High School)_2016",
                                           "Education (GED)": "Education (GED)_2016",
                                           "Education (Associate's)": "Education (Associate's)_2016",
                                           "Education (Bachelor's)": "Education (Bachelor's)_2016",
                                           "Education (Master's)": "Education (Master's)_2016",
                                           "Education (Professional)": "Education (Master's)_2016",
                                           "Education (Doctorate)": "Education (Doctorate)_2016"})

Merge with 2017 data

In [9]:
# Merge Dataframes
education_df = pd.merge(education_df, ed_2017_df, on="Zipcode", how="outer")

# Rename x columns
education_df = education_df.rename(columns={"Education (No Schooling)": "Education (No Schooling)_2017", 
                                           "Education (High School)": "Education (High School)_2017",
                                           "Education (GED)": "Education (GED)_2017",
                                           "Education (Associate's)": "Education (Associate's)_2017",
                                           "Education (Bachelor's)": "Education (Bachelor's)_2017",
                                           "Education (Master's)": "Education (Master's)_2017",
                                           "Education (Professional)": "Education (Master's)_2017",
                                           "Education (Doctorate)": "Education (Doctorate)_2017"})

Merge with 2018 data

In [10]:
# Merge Dataframes
education_df = pd.merge(education_df, ed_2018_df, on="Zipcode", how="outer")

# Rename x columns
education_df = education_df.rename(columns={"Education (No Schooling)": "Education (No Schooling)_2018", 
                                           "Education (High School)": "Education (High School)_2018",
                                           "Education (GED)": "Education (GED)_2018",
                                           "Education (Associate's)": "Education (Associate's)_2018",
                                           "Education (Bachelor's)": "Education (Bachelor's)_2018",
                                           "Education (Master's)": "Education (Master's)_2018",
                                           "Education (Professional)": "Education (Master's)_2018",
                                           "Education (Doctorate)": "Education (Doctorate)_2018"})

### Clean Population Data

Import CSVs

In [11]:
# Import CSV files for population data
pop_file_2011 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2011.csv"
pop_file_2012 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2012.csv"
pop_file_2013 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2013.csv"
pop_file_2014 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2014.csv"
pop_file_2015 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2015.csv"
pop_file_2016 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2016.csv"
pop_file_2017 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2017.csv"
pop_file_2018 = "../Resources/Census.gov/By_Year/Austin_population/Austin_population_2018.csv"


# Read CSVs
pop_csv_2011 = pd.read_csv(pop_file_2011)
pop_csv_2012 = pd.read_csv(pop_file_2012)
pop_csv_2013 = pd.read_csv(pop_file_2013)
pop_csv_2014 = pd.read_csv(pop_file_2014)
pop_csv_2015 = pd.read_csv(pop_file_2015)
pop_csv_2016 = pd.read_csv(pop_file_2016)
pop_csv_2017 = pd.read_csv(pop_file_2017)
pop_csv_2018 = pd.read_csv(pop_file_2018)

# Convert CSVs to Dataframe
pop_2011_df = pd.DataFrame(pop_csv_2011)
pop_2012_df = pd.DataFrame(pop_csv_2012)
pop_2013_df = pd.DataFrame(pop_csv_2013)
pop_2014_df = pd.DataFrame(pop_csv_2014)
pop_2015_df = pd.DataFrame(pop_csv_2015)
pop_2016_df = pd.DataFrame(pop_csv_2016)
pop_2017_df = pd.DataFrame(pop_csv_2017)
pop_2018_df = pd.DataFrame(pop_csv_2018)

Merge 2011 and 2012 data

In [12]:
# Merge Dataframes
population_df = pd.merge(pop_2011_df, pop_2012_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age_x": "Median Age_2011", 
                                              "Population_x": "Population_2011",
                                              "Population (White Alone)_x": "Population (White Alone)_2011",
                                              "Population (Black Alone)_x": "Population (Black Alone)_2011",
                                              "Population (American Indian or Alaskan Native Alone)_x": "Population (American Indian or Alaskan Native Alone)_2011",
                                              "Population (Asian Alone)_x": "Population (Asian Alone)_2011",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)_x": "Population (Native Hawaiian and Other Pacific Islander Alone)_2011",
                                              "Population (Two or more races)_x": "Population (Two or more races)_2011",
                                              "Household Income_x": "Household Income_2011",
                                              "Per Capita Income_x": "Per Capita Income_2011",
                                              "Employed_x": "Employed_2011",
                                              "Unemployed_x": "Unemployed_2011"})

# Rename y columns
population_df = population_df.rename(columns={"Median Age_y": "Median Age_2012", 
                                              "Population_y": "Population_2012",
                                              "Population (White Alone)_y": "Population (White Alone)_2012",
                                              "Population (Black Alone)_y": "Population (Black Alone)_2012",
                                              "Population (American Indian or Alaskan Native Alone)_y": "Population (American Indian or Alaskan Native Alone)_2012",
                                              "Population (Asian Alone)_y": "Population (Asian Alone)_2012",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)_y": "Population (Native Hawaiian and Other Pacific Islander Alone)_2012",
                                              "Population (Two or more races)_y": "Population (Two or more races)_2012",
                                              "Household Income_y": "Household Income_2012",
                                              "Per Capita Income_y": "Per Capita Income_2012",
                                              "Employed_y": "Employed_2012",
                                              "Unemployed_y": "Unemployed_2012"})

Merge data frame with 2013 data

In [13]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2013_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2013", 
                                              "Population": "Population_2013",
                                              "Population (White Alone)": "Population (White Alone)_2013",
                                              "Population (Black Alone)": "Population (Black Alone)_2013",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2013",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2013",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2013",
                                              "Population (Two or more races)": "Population (Two or more races)_2013",
                                              "Household Income": "Household Income_2013",
                                              "Per Capita Income": "Per Capita Income_2013",
                                              "Employed": "Employed_2013",
                                              "Unemployed": "Unemployed_2013"})

Merge data frame with 2014 data

In [14]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2014_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2014", 
                                              "Population": "Population_2014",
                                              "Population (White Alone)": "Population (White Alone)_2014",
                                              "Population (Black Alone)": "Population (Black Alone)_2014",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2014",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2014",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2014",
                                              "Population (Two or more races)": "Population (Two or more races)_2014",
                                              "Household Income": "Household Income_2014",
                                              "Per Capita Income": "Per Capita Income_2014",
                                              "Employed": "Employed_2014",
                                              "Unemployed": "Unemployed_2014"})

Merge data frame with 2015 data

In [15]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2015_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2015", 
                                              "Population": "Population_2015",
                                              "Population (White Alone)": "Population (White Alone)_2015",
                                              "Population (Black Alone)": "Population (Black Alone)_2015",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2015",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2015",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2015",
                                              "Population (Two or more races)": "Population (Two or more races)_2015",
                                              "Household Income": "Household Income_2015",
                                              "Per Capita Income": "Per Capita Income_2015",
                                              "Employed": "Employed_2015",
                                              "Unemployed": "Unemployed_2015"})

Merge data frame with 2016 data

In [16]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2016_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2016", 
                                              "Population": "Population_2016",
                                              "Population (White Alone)": "Population (White Alone)_2016",
                                              "Population (Black Alone)": "Population (Black Alone)_2016",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2016",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2016",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2016",
                                              "Population (Two or more races)": "Population (Two or more races)_2016",
                                              "Household Income": "Household Income_2016",
                                              "Per Capita Income": "Per Capita Income_2016",
                                              "Employed": "Employed_2016",
                                              "Unemployed": "Unemployed_2016"})

Merge data frame with 2017 data

In [17]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2017_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2017", 
                                              "Population": "Population_2017",
                                              "Population (White Alone)": "Population (White Alone)_2017",
                                              "Population (Black Alone)": "Population (Black Alone)_2017",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2017",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2017",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2017",
                                              "Population (Two or more races)": "Population (Two or more races)_2017",
                                              "Household Income": "Household Income_2017",
                                              "Per Capita Income": "Per Capita Income_2017",
                                              "Employed": "Employed_2017",
                                              "Unemployed": "Unemployed_2017"})

Merge data frame with 2018 data

In [18]:
# Merge Dataframes
population_df = pd.merge(population_df, pop_2018_df, on="Zipcode", how="outer")

# Rename x columns
population_df = population_df.rename(columns={"Median Age": "Median Age_2018", 
                                              "Population": "Population_2018",
                                              "Population (White Alone)": "Population (White Alone)_2018",
                                              "Population (Black Alone)": "Population (Black Alone)_2018",
                                              "Population (American Indian or Alaskan Native Alone)": "Population (American Indian or Alaskan Native Alone)_2018",
                                              "Population (Asian Alone)": "Population (Asian Alone)_2018",
                                              "Population (Native Hawaiian and Other Pacific Islander Alone)": "Population (Native Hawaiian and Other Pacific Islander Alone)_2018",
                                              "Population (Two or more races)": "Population (Two or more races)_2018",
                                              "Household Income": "Household Income_2018",
                                              "Per Capita Income": "Per Capita Income_2018",
                                              "Employed": "Employed_2018",
                                              "Unemployed": "Unemployed_2018"})

### Merge Poverty Data

Import CSVs

In [19]:
# Import CSV files for poverty data
poverty_file_2011 = "../Resources/Census.gov/By_Year/Austin_poverty/Austin_poverty_2011.csv"
poverty_file_2012 = "../Resources/Census.gov/By_Year/Austin_poverty/Austin_poverty_2012.csv"
poverty_file_2013 = "../Resources/Census.gov/By_Year/Austin_poverty/Austin_poverty_2013.csv"
poverty_file_2014 = "../Resources/Census.gov/By_Year/Austin_poverty/Austin_poverty_2014.csv"
poverty_file_2015 = "../Resources/Census.gov/By_Year/Austin_poverty/Austin_poverty_2015.csv"
poverty_file_2016 = "../Resources/Census.gov/By_Year/Austin_poverty/Austin_poverty_2016.csv"
poverty_file_2017 = "../Resources/Census.gov/By_Year/Austin_poverty/Austin_poverty_2017.csv"
poverty_file_2018 = "../Resources/Census.gov/By_Year/Austin_poverty/Austin_poverty_2018.csv"


# Read CSVs
poverty_csv_2011 = pd.read_csv(poverty_file_2011)
poverty_csv_2012 = pd.read_csv(poverty_file_2012)
poverty_csv_2013 = pd.read_csv(poverty_file_2013)
poverty_csv_2014 = pd.read_csv(poverty_file_2014)
poverty_csv_2015 = pd.read_csv(poverty_file_2015)
poverty_csv_2016 = pd.read_csv(poverty_file_2016)
poverty_csv_2017 = pd.read_csv(poverty_file_2017)
poverty_csv_2018 = pd.read_csv(poverty_file_2018)

# Convert CSVs to Dataframe
poverty_2011_df = pd.DataFrame(poverty_csv_2011)
poverty_2012_df = pd.DataFrame(poverty_csv_2012)
poverty_2013_df = pd.DataFrame(poverty_csv_2013)
poverty_2014_df = pd.DataFrame(poverty_csv_2014)
poverty_2015_df = pd.DataFrame(poverty_csv_2015)
poverty_2016_df = pd.DataFrame(poverty_csv_2016)
poverty_2017_df = pd.DataFrame(poverty_csv_2017)
poverty_2018_df = pd.DataFrame(poverty_csv_2018)

Merge 2011 and 2012 data

In [20]:
# Merge Dataframes
poverty_df = pd.merge(poverty_2011_df, poverty_2012_df, on="Zipcode", how="outer")

# Rename x columns
poverty_df = poverty_df.rename(columns={"Median Age_x": "Median Age_2011", 
                                          "Poverty White_x": "Poverty White_2011",
                                          "Poverty Black_x": "Poverty Black_2011",
                                          "Poverty American Indian_x": "Poverty American Indian_2011",
                                          "Poverty Asian_x": "Poverty Asian_2011",
                                          "Poverty Hispanic_x": "Poverty Hispanic_2011",
                                          "Poverty Two or More Races_x": "Poverty Two or More Races_2011",
                                          "Total Poverty Count_x": "Total Poverty Count_2011",
                                          "Poverty Male_x": "Poverty Male_2011", 
                                          "Poverty Female_x": "Female_2011"})

# Rename y columns
poverty_df = poverty_df.rename(columns={"Median Age_y": "Median Age_2012", 
                                          "Poverty White_y": "Poverty White_2012",
                                          "Poverty Black_y": "Poverty Black_2012",
                                          "Poverty American Indian_y": "Poverty American Indian_2012",
                                          "Poverty Asian_y": "Poverty Asian_2012",
                                          "Poverty Hispanic_y": "Poverty Hispanic_2012",
                                          "Poverty Two or More Races_y": "Poverty Two or More Races_2012",
                                          "Total Poverty Count_y": "Total Poverty Count_2012",
                                          "Poverty Male_y": "Poverty Male_2012", 
                                          "Poverty Female_y": "Female_2012"})

Merge 2013 data

In [21]:
# Merge Dataframes
poverty_df = pd.merge(poverty_df, poverty_2013_df, on="Zipcode", how="outer")

# Rename x columns
poverty_df = poverty_df.rename(columns={"Median Age": "Median Age_2013", 
                                          "Poverty White": "Poverty White_2013",
                                          "Poverty Black": "Poverty Black_2013",
                                          "Poverty American Indian": "Poverty American Indian_2013",
                                          "Poverty Asian": "Poverty Asian_2013",
                                          "Poverty Hispanic": "Poverty Hispanic_2013",
                                          "Poverty Two or More Races": "Poverty Two or More Races_2013",
                                          "Total Poverty Count": "Total Poverty Count_2013",
                                          "Poverty Male": "Poverty Male_2013", 
                                          "Poverty Female": "Female_2013"})

Merge 2014 data

In [22]:
# Merge Dataframes
poverty_df = pd.merge(poverty_df, poverty_2014_df, on="Zipcode", how="outer")

# Rename x columns
poverty_df = poverty_df.rename(columns={"Median Age": "Median Age_2014", 
                                          "Poverty White": "Poverty White_2014",
                                          "Poverty Black": "Poverty Black_2014",
                                          "Poverty American Indian": "Poverty American Indian_2014",
                                          "Poverty Asian": "Poverty Asian_2014",
                                          "Poverty Hispanic": "Poverty Hispanic_2014",
                                          "Poverty Two or More Races": "Poverty Two or More Races_2014",
                                          "Total Poverty Count": "Total Poverty Count_2014",
                                          "Poverty Male": "Poverty Male_2014", 
                                          "Poverty Female": "Female_2014"})

Merge 2015 data

In [23]:
# Merge Dataframes
poverty_df = pd.merge(poverty_df, poverty_2015_df, on="Zipcode", how="outer")

# Rename x columns
poverty_df = poverty_df.rename(columns={"Median Age": "Median Age_2015", 
                                          "Poverty White": "Poverty White_2015",
                                          "Poverty Black": "Poverty Black_2015",
                                          "Poverty American Indian": "Poverty American Indian_2015",
                                          "Poverty Asian": "Poverty Asian_2015",
                                          "Poverty Hispanic": "Poverty Hispanic_2015",
                                          "Poverty Two or More Races": "Poverty Two or More Races_2015",
                                          "Total Poverty Count": "Total Poverty Count_2015",
                                          "Poverty Male": "Poverty Male_2015", 
                                          "Poverty Female": "Female_2015"})

Merge 2016 data

In [24]:
# Merge Dataframes
poverty_df = pd.merge(poverty_df, poverty_2016_df, on="Zipcode", how="outer")

# Rename x columns
poverty_df = poverty_df.rename(columns={"Median Age": "Median Age_2016", 
                                          "Poverty White": "Poverty White_2016",
                                          "Poverty Black": "Poverty Black_2016",
                                          "Poverty American Indian": "Poverty American Indian_2016",
                                          "Poverty Asian": "Poverty Asian_2016",
                                          "Poverty Hispanic": "Poverty Hispanic_2016",
                                          "Poverty Two or More Races": "Poverty Two or More Races_2016",
                                          "Total Poverty Count": "Total Poverty Count_2016",
                                          "Poverty Male": "Poverty Male_2016", 
                                          "Poverty Female": "Female_2016"})

Merge 2017 data

In [25]:
# Merge Dataframes
poverty_df = pd.merge(poverty_df, poverty_2017_df, on="Zipcode", how="outer")

# Rename x columns
poverty_df = poverty_df.rename(columns={"Median Age": "Median Age_2017", 
                                          "Poverty White": "Poverty White_2017",
                                          "Poverty Black": "Poverty Black_2017",
                                          "Poverty American Indian": "Poverty American Indian_2017",
                                          "Poverty Asian": "Poverty Asian_2017",
                                          "Poverty Hispanic": "Poverty Hispanic_2017",
                                          "Poverty Two or More Races": "Poverty Two or More Races_2017",
                                          "Total Poverty Count": "Total Poverty Count_2017",
                                          "Poverty Male": "Poverty Male_2017", 
                                          "Poverty Female": "Female_2017"})

Merge 2018 data

In [26]:
# Merge Dataframes
poverty_df = pd.merge(poverty_df, poverty_2018_df, on="Zipcode", how="outer")

# Rename x columns
poverty_df = poverty_df.rename(columns={"Median Age": "Median Age_2018", 
                                          "Poverty White": "Poverty White_2018",
                                          "Poverty Black": "Poverty Black_2018",
                                          "Poverty American Indian": "Poverty American Indian_2018",
                                          "Poverty Asian": "Poverty Asian_2018",
                                          "Poverty Hispanic": "Poverty Hispanic_2018",
                                          "Poverty Two or More Races": "Poverty Two or More Races_2018",
                                          "Total Poverty Count": "Total Poverty Count_2018",
                                          "Poverty Male": "Poverty Male_2018", 
                                          "Poverty Female": "Female_2018"})

### Merge Housing Data

Import Housing data

In [27]:
# Import CSV files for housing data
housing_file_2011 = "../Resources/Census.gov/By_Year/Austin_housing/Austin_housing_2011.csv"
housing_file_2012 = "../Resources/Census.gov/By_Year/Austin_housing/Austin_housing_2012.csv"
housing_file_2013 = "../Resources/Census.gov/By_Year/Austin_housing/Austin_housing_2013.csv"
housing_file_2014 = "../Resources/Census.gov/By_Year/Austin_housing/Austin_housing_2014.csv"
housing_file_2015 = "../Resources/Census.gov/By_Year/Austin_housing/Austin_housing_2015.csv"
housing_file_2016 = "../Resources/Census.gov/By_Year/Austin_housing/Austin_housing_2016.csv"
housing_file_2017 = "../Resources/Census.gov/By_Year/Austin_housing/Austin_housing_2017.csv"
housing_file_2018 = "../Resources/Census.gov/By_Year/Austin_housing/Austin_housing_2018.csv"


# Read CSVs
housing_csv_2011 = pd.read_csv(housing_file_2011)
housing_csv_2012 = pd.read_csv(housing_file_2012)
housing_csv_2013 = pd.read_csv(housing_file_2013)
housing_csv_2014 = pd.read_csv(housing_file_2014)
housing_csv_2015 = pd.read_csv(housing_file_2015)
housing_csv_2016 = pd.read_csv(housing_file_2016)
housing_csv_2017 = pd.read_csv(housing_file_2017)
housing_csv_2018 = pd.read_csv(housing_file_2018)

# Convert CSVs to Dataframe
housing_2011_df = pd.DataFrame(housing_csv_2011)
housing_2012_df = pd.DataFrame(housing_csv_2012)
housing_2013_df = pd.DataFrame(housing_csv_2013)
housing_2014_df = pd.DataFrame(housing_csv_2014)
housing_2015_df = pd.DataFrame(housing_csv_2015)
housing_2016_df = pd.DataFrame(housing_csv_2016)
housing_2017_df = pd.DataFrame(housing_csv_2017)
housing_2018_df = pd.DataFrame(housing_csv_2018)

Merge 2011 and 2012 data

In [28]:
# Merge Dataframes
housing_df = pd.merge(housing_2011_df, housing_2012_df, on="Zipcode", how="outer")

# Rename x columns
housing_df = housing_df.rename(columns={"Median year housing units were built_x": "Median year housing units were built_2011", 
                                          "Median contract rent_x": "Median contract rent_2011",
                                          "Median gross rent (contract rent plus utilities)_x": "Median gross rent (contract rent plus utilities)_2011",
                                          "Median value (dollars) for Owner-Occupied housing units_x": "Median value (dollars) for Owner-Occupied housing units_2011",
                                          "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_x": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_2011"})

# Rename y columns
housing_df = housing_df.rename(columns={"Median year housing units were built_y": "Median year housing units were built_2012", 
                                          "Median contract rent_y": "Median contract rent_2012",
                                          "Median gross rent (contract rent plus utilities)_y": "Median gross rent (contract rent plus utilities)_2012",
                                          "Median value (dollars) for Owner-Occupied housing units_y": "Median value (dollars) for Owner-Occupied housing units_2012",
                                          "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_y": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_2012"})

Merge 2013 data

In [29]:
# Merge Dataframes
housing_df = pd.merge(housing_df, housing_2013_df, on="Zipcode", how="outer")

# Rename x columns
housing_df = housing_df.rename(columns={"Median year housing units were built": "Median year housing units were built_2013", 
                                          "Median contract rent": "Median contract rent_2013",
                                          "Median gross rent (contract rent plus utilities)": "Median gross rent (contract rent plus utilities)_2013",
                                          "Median value (dollars) for Owner-Occupied housing units": "Median value (dollars) for Owner-Occupied housing units_2013",
                                          "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_2013"})

Merge 2014 data

In [30]:
# Merge Dataframes
housing_df = pd.merge(housing_df, housing_2014_df, on="Zipcode", how="outer")

# Rename x columns
housing_df = housing_df.rename(columns={"Median year housing units were built": "Median year housing units were built_2014", 
                                          "Median contract rent": "Median contract rent_2014",
                                          "Median gross rent (contract rent plus utilities)": "Median gross rent (contract rent plus utilities)_2014",
                                          "Median value (dollars) for Owner-Occupied housing units": "Median value (dollars) for Owner-Occupied housing units_2014",
                                          "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_2014"})

Merge 2015 data

In [31]:
# Merge Dataframes
housing_df = pd.merge(housing_df, housing_2015_df, on="Zipcode", how="outer")

# Rename x columns
housing_df = housing_df.rename(columns={"Median year housing units were built": "Median year housing units were built_2015", 
                                          "Median contract rent": "Median contract rent_2015",
                                          "Median gross rent (contract rent plus utilities)": "Median gross rent (contract rent plus utilities)_2015",
                                          "Median value (dollars) for Owner-Occupied housing units": "Median value (dollars) for Owner-Occupied housing units_2015",
                                          "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_2015"})

Merge 2016 data

In [32]:
# Merge Dataframes
housing_df = pd.merge(housing_df, housing_2016_df, on="Zipcode", how="outer")

# Rename x columns
housing_df = housing_df.rename(columns={"Median year housing units were built": "Median year housing units were built_2016", 
                                          "Median contract rent": "Median contract rent_2016",
                                          "Median gross rent (contract rent plus utilities)": "Median gross rent (contract rent plus utilities)_2016",
                                          "Median value (dollars) for Owner-Occupied housing units": "Median value (dollars) for Owner-Occupied housing units_2016",
                                          "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_2016"})

Merge 2017 data

In [33]:
# Merge Dataframes
housing_df = pd.merge(housing_df, housing_2017_df, on="Zipcode", how="outer")

# Rename x columns
housing_df = housing_df.rename(columns={"Median year housing units were built": "Median year housing units were built_2017", 
                                          "Median contract rent": "Median contract rent_2017",
                                          "Median gross rent (contract rent plus utilities)": "Median gross rent (contract rent plus utilities)_2017",
                                          "Median value (dollars) for Owner-Occupied housing units": "Median value (dollars) for Owner-Occupied housing units_2017",
                                          "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_2017"})

Merge 2018 data

In [34]:
# Merge Dataframes
housing_df = pd.merge(housing_df, housing_2018_df, on="Zipcode", how="outer")

# Rename x columns
housing_df = housing_df.rename(columns={"Median year housing units were built": "Median year housing units were built_2018", 
                                          "Median contract rent": "Median contract rent_2018",
                                          "Median gross rent (contract rent plus utilities)": "Median gross rent (contract rent plus utilities)_2018",
                                          "Median value (dollars) for Owner-Occupied housing units": "Median value (dollars) for Owner-Occupied housing units_2018",
                                          "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status_2018"})

### Merge all dataframes

In [35]:
Austin_census_df = pd.merge(education_df, housing_df, on="Zipcode", how="inner")

# # Rename columns
# Austin_census_df = Austin_census_df.rename(columns={"Year_2012_x": "Year_2012",
#                                                     "Year_2013_x": "Year_2013",
#                                                     "Year_2014_x": "Year_2014",
#                                                     "Year_2015_x": "Year_2015",
#                                                     "Year_2017_x": "Year_2016",
#                                                     "Year_2017_x": "Year_2017",
#                                                     "Year_2018_x": "Year_2018",
#                                                     "Year_2012_y": "Year_2012",
#                                                     "Year_2013_y": "Year_2013",
#                                                     "Year_2014_y": "Year_2014",
#                                                     "Year_2015_y": "Year_2015",
#                                                     "Year_2017_y": "Year_2016",
#                                                     "Year_2017_y": "Year_2017",
#                                                     "Year_2018_y": "Year_2018"})

In [36]:
Austin_census_df = pd.merge(Austin_census_df, population_df, on="Zipcode", how="inner")

# # Rename columns
# Austin_census_df = Austin_census_df.rename(columns={"Year_2012_x": "Year_2012",
#                                                     "Year_2013_x": "Year_2013",
#                                                     "Year_2014_x": "Year_2014",
#                                                     "Year_2015_x": "Year_2015",
#                                                     "Year_2017_x": "Year_2016",
#                                                     "Year_2017_x": "Year_2017",
#                                                     "Year_2018_x": "Year_2018",
#                                                     "Year_2012_y": "Year_2012",
#                                                     "Year_2013_y": "Year_2013",
#                                                     "Year_2014_y": "Year_2014",
#                                                     "Year_2015_y": "Year_2015",
#                                                     "Year_2017_y": "Year_2016",
#                                                     "Year_2017_y": "Year_2017",
#                                                     "Year_2018_y": "Year_2018"})

In [37]:
Austin_census_df = pd.merge(Austin_census_df, poverty_df, on="Zipcode", how="inner")

# # Rename columns
# Austin_census_df = Austin_census_df.rename(columns={"Year_2012_x": "Year_2012",
#                                                     "Year_2013_x": "Year_2013",
#                                                     "Year_2014_x": "Year_2014",
#                                                     "Year_2015_x": "Year_2015",
#                                                     "Year_2017_x": "Year_2016",
#                                                     "Year_2017_x": "Year_2017",
#                                                     "Year_2018_x": "Year_2018",
#                                                     "Year_2012_y": "Year_2012",
#                                                     "Year_2013_y": "Year_2013",
#                                                     "Year_2014_y": "Year_2014",
#                                                     "Year_2015_y": "Year_2015",
#                                                     "Year_2017_y": "Year_2016",
#                                                     "Year_2017_y": "Year_2017",
#                                                     "Year_2018_y": "Year_2018"})

### Export Merged Dataframes to CSVs

In [38]:
# Export merged Education Dataframe
education_df.to_csv("../Resources/Census.gov/By_Year/Merged_datasets/Austin_education_merged.csv")

# Export merged Housing Dataframe
housing_df.to_csv("../Resources/Census.gov/By_Year/Merged_datasets/Austin_housing_merged.csv")

# Export merged Population Dataframe
population_df.to_csv("../Resources/Census.gov/By_Year/Merged_datasets/Austin_population_merged.csv")

# Export merged Poverty Dataframe
poverty_df.to_csv("../Resources/Census.gov/By_Year/Merged_datasets/Austin_poverty_merged.csv")

# Export merged all data Dataframe
Austin_census_df.to_csv("../Resources/Census.gov/By_Year/Merged_datasets/Austin_census_merged.csv")