In [108]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Set variable to hold year
year = 2013

# Census API Key
from api_key import api_key
c = Census(api_key, year=year)

## US Data
#### Get Data for all US

Get US Population Data

In [16]:
# Run API Call for Population Data
us_pop_data = c.acs5.get(("NAME", "B01003_001E", "B02001_002E", "B02001_003E",
                      "B02001_004E", "B02001_005E", "B02001_006E", "B02001_008E",                                             
                      "B01002_001E","B19013_001E",                       
                      "B19301_001E", "B23025_004E", "B23025_005E"), 
                      {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_pop_df = pd.DataFrame(us_pop_data)

In [110]:
# Column Reordering
us_pop_df = us_pop_df.rename(columns={
                                  "zip code tabulation area": "Zipcode",
                                  "B01003_001E": "Population",
                                  "B02001_002E": "Population (White Alone)",
                                  "B02001_003E": "Population (Black Alone)", 
                                  "B02001_004E": "Population (American Indian or Alaskan Native Alone)",
                                  "B02001_005E": "Population (Asian Alone)",
                                  "B02001_006E": "Population (Native Hawaiian and Other Pacific Islander Alone)",
                                  "B02001_008E": "Population (Two or more races)",
                                  "B01002_001E": "Median Age",
                                  "B19013_001E": "Household Income",
                                  "B19301_001E": "Per Capita Income",
                                  "B23025_004E": "Employed",
                                  "B23025_005E": "Unemployed"})

# Add column for year
us_pop_df["Year"] = year

us_pop_df.head()

,Median Age,Population,Population (White Alone),Population (Black Alone),Population (American Indian or Alaskan Native Alone),Population (Asian Alone),Population (Native Hawaiian and Other Pacific Islander Alone),Population (Two or more races),Household Income,Per Capita Income,Employed,Unemployed,NAME,Zipcode,Year
0,38.5,22121.0,18417.0,596.0,76.0,260.0,0.0,585.0,57833.0,29014.0,10888.0,1258.0,ZCTA5 01832,01832,2013
1,42.4,8295.0,8032.0,21.0,6.0,33.0,6.0,186.0,107775.0,43297.0,4196.0,320.0,ZCTA5 01833,01833,2013
2,46.1,6675.0,6496.0,8.0,0.0,171.0,0.0,0.0,97463.0,40222.0,3662.0,233.0,ZCTA5 01834,01834,2013
3,37.1,13527.0,11878.0,612.0,26.0,346.0,0.0,172.0,72228.0,31429.0,7536.0,452.0,ZCTA5 01835,01835,2013
4,36.8,4547.0,1709.0,274.0,52.0,40.0,0.0,174.0,18261.0,14758.0,1483.0,255.0,ZCTA5 01840,01840,2013

Get US Poverty Data

In [9]:
# Run API Call for Poverty Data
us_poverty_data = c.acs5.get(("NAME", "B17001_002E", "B17001_003E", "B17001_017E",
                      "B17001A_002E", "B17001B_002E", "B17001C_002E", "B17001D_002E",
                      "B17001E_002E", "B17001G_002E"), 
                      {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_poverty_df = pd.DataFrame(us_poverty_data)

In [111]:
# Column Reordering
us_poverty_df = us_poverty_df.rename(columns={
                                  "zip code tabulation area": "Zipcode",
                                  "B17001_002E": "Total Poverty Count",
                                  "B17001_003E": "Poverty Male",
                                  "B17001_017E": "Poverty Female",
                                  "B17001A_002E": "Poverty White",
                                  "B17001B_002E": "Poverty Black",
                                  "B17001C_002E": "Poverty American Indian",
                                  "B17001D_002E": "Poverty Asian",
                                  "B17001E_002E": "Poverty Hispanic",
                                  "B17001G_002E": "Poverty Two or More Races"})

# Add column for year
us_poverty_df["Year"] = year

us_poverty_df.head()

,Poverty White,Poverty Black,Poverty American Indian,Poverty Asian,Poverty Hispanic,Poverty Two or More Races,Total Poverty Count,Poverty Male,Poverty Female,NAME,Zipcode,Year
0,50.0,0.0,0.0,0.0,0.0,0.0,50.0,14.0,36.0,ZCTA5 01236,01236,2013
1,26.0,0.0,0.0,0.0,0.0,2.0,28.0,9.0,19.0,ZCTA5 01237,01237,2013
2,484.0,9.0,0.0,0.0,0.0,0.0,566.0,229.0,337.0,ZCTA5 01238,01238,2013
3,630.0,0.0,0.0,0.0,0.0,66.0,696.0,258.0,438.0,ZCTA5 01240,01240,2013
4,2.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,2.0,ZCTA5 01242,01242,2013

Get Housing Data

In [11]:
# Run API Call for Housing Data
us_housing_data = c.acs5.get(("NAME", "B25035_001E", "B25058_001E", 
                              "B25064_001E", "B25077_001E", "B25088_002E"), 
                              {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_housing_df = pd.DataFrame(us_housing_data)

In [112]:
# Column Reordering
us_housing_df = us_housing_df.rename(columns={
                                  "zip code tabulation area": "Zipcode",
                                  "B25035_001E": "Median year housing units were built",
                                  "B25058_001E": "Median contract rent",
                                  "B25064_001E": "Median gross rent (contract rent plus utilities)",
                                  "B25077_001E": "Median value (dollars) for Owner-Occupied housing units",
                                  "B25088_002E": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status"})

# Add column for year
us_housing_df["Year"] = year

us_housing_df.head()

,Median year housing units were built,Median contract rent,Median gross rent (contract rent plus utilities),Median value (dollars) for Owner-Occupied housing units,Median Selected Monthly Owner Costs (Dollars) by Mortgage Status,NAME,Zipcode,Year
0,1939.0,742.0,830.0,244900.0,2038.0,ZCTA5 02838,02838,2013
1,1978.0,834.0,949.0,240900.0,1869.0,ZCTA5 02839,02839,2013
2,1939.0,989.0,1113.0,387100.0,2129.0,ZCTA5 02840,02840,2013
3,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,ZCTA5 02841,02841,2013
4,1970.0,1138.0,1195.0,347800.0,2049.0,ZCTA5 02842,02842,2013

Get Education Data

In [13]:
# Run API Call for Housing Data
us_education_data = c.acs5.get(("NAME", "B15003_002E", "B15003_017E", "B15003_018E", 
                                "B15003_021E", "B15003_022E", "B15003_023E", 
                                "B15003_024E," "B15003_025E"), 
                                {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_education_df = pd.DataFrame(us_education_data)

In [113]:
# Column Reordering
us_education_df = us_education_df.rename(columns={
                                  "zip code tabulation area": "Zipcode",
                                  "B15003_002E": "Education (No Schooling)",
                                  "B15003_017E": "Education (High School)",
                                  "B15003_018E": "Education (GED)",
                                  "B15003_021E": "Education (Associate's)",
                                  "B15003_022E": "Education (Bachelor's)",
                                  "B15003_023E": "Education (Master's)",
                                  "B15003_024E": "Education (Professional)",
                                  "B15003_025E": "Education (Doctorate)"})

# Add column for year
us_education_df["Year"] = year

us_education_df.head()

,Education (No Schooling),Education (High School),Education (GED),Education (Associate's),Education (Bachelor's),Education (Master's),Education (Professional),Education (Doctorate),NAME,Zipcode,Year
0,0.0,262.0,29.0,48.0,324.0,220.0,37.0,21.0,ZCTA5 01236,01236,2013
1,5.0,654.0,48.0,178.0,288.0,211.0,15.0,30.0,ZCTA5 01237,01237,2013
2,84.0,1108.0,98.0,369.0,1122.0,410.0,108.0,79.0,ZCTA5 01238,01238,2013
3,59.0,884.0,12.0,274.0,776.0,591.0,246.0,73.0,ZCTA5 01240,01240,2013
4,0.0,38.0,0.0,28.0,26.0,18.0,0.0,0.0,ZCTA5 01242,01242,2013

## Austin Data
#### Filter out Data for Austin Zip codes

In [30]:
# Create a list of Austin zip codes
Austin_zip_codes = ["78610", "78613", "78617", "78641", "78652", "78653", "78660", "78664", "78681", 
                    "78701", "78702", "78703", "78704", "78705", "78712", "78717", "78719", "78721", 
                    "78722", "78723", "78724", "78725", "78726", "78727", "78728", "78729", "78730", 
                    "78731", "78732", "78733", "78734", "78735", "78736", "78737", "78738", "78739", 
                    "78741", "78742", "78744", "78745", "78746", "78747", "78748", "78749", "78750", 
                    "78751", "78752", "78753", "78754", "78756", "78757", "78758", "78759"]

Filter out Austin Population Data

In [94]:
# Filter out rows where zipcode is in Austin
Austin_pop = us_pop_df[us_pop_df["Zipcode"].isin(Austin_zip_codes)]

# Set zipcode as index
Austin_pop = Austin_pop.set_index("Zipcode")

Austin_pop.head()

,Median Age,Population,Population (White Alone),Population (Black Alone),Population (American Indian or Alaskan Native Alone),Population (Asian Alone),Population (Native Hawaiian and Other Pacific Islander Alone),Population (Two or more races),Household Income,Per Capita Income,Employed,Unemployed,NAME
Zipcode,,,,,,,,,,,,,
78610,34.6,25580.0,21828.0,590.0,93.0,301.0,69.0,657.0,79049.0,31048.0,12926.0,1104.0,ZCTA5 78610
78613,34.7,68426.0,56193.0,2864.0,140.0,4992.0,23.0,1910.0,81928.0,34311.0,33830.0,2658.0,ZCTA5 78613
78617,30.0,21096.0,13458.0,2435.0,367.0,434.0,0.0,671.0,45212.0,15029.0,7938.0,1450.0,ZCTA5 78617
78641,33.4,48854.0,42609.0,1517.0,128.0,949.0,0.0,1460.0,71885.0,29372.0,24117.0,1887.0,ZCTA5 78641
78652,36.5,5117.0,4649.0,124.0,0.0,55.0,0.0,115.0,76604.0,35643.0,2775.0,234.0,ZCTA5 78652

In [115]:
# Save as CSV
Austin_pop.to_csv(f"../Resources/Census.gov/Clean/Austin_population_{year}.csv", encoding="utf-8")

Filter out Austin Poverty Data

In [101]:
# Filter out rows where zipcode is in Austin
Austin_poverty = us_poverty_df[us_poverty_df["Zipcode"].isin(Austin_zip_codes)]

# Set zipcode as index
Austin_poverty = Austin_poverty.set_index("Zipcode")

Austin_poverty.head()

,Poverty White,Poverty Black,Poverty American Indian,Poverty Asian,Poverty Hispanic,Poverty Two or More Races,Total Poverty Count,Poverty Male,Poverty Female,NAME
Zipcode,,,,,,,,,,
78610,2035.0,29.0,0.0,55.0,0.0,14.0,2499.0,1269.0,1230.0,ZCTA5 78610
78613,2846.0,262.0,5.0,244.0,0.0,325.0,4075.0,1752.0,2323.0,ZCTA5 78613
78617,2428.0,190.0,172.0,73.0,0.0,42.0,4156.0,2141.0,2015.0,ZCTA5 78617
78641,1663.0,40.0,7.0,16.0,0.0,89.0,2054.0,906.0,1148.0,ZCTA5 78641
78652,155.0,3.0,0.0,0.0,0.0,26.0,209.0,103.0,106.0,ZCTA5 78652

In [102]:
# Save as CSV
Austin_poverty.to_csv(f"../Resources/Census.gov/Clean/Austin_poverty_{year}.csv", encoding="utf-8")

Filter out Austin Housing Data

In [103]:
# Filter out rows where zipcode is in Austin
Austin_housing = us_housing_df[us_housing_df["Zipcode"].isin(Austin_zip_codes)]

# Set zipcode as index
Austin_housing = Austin_housing.set_index("Zipcode")

Austin_housing.head()

,Median year housing units were built,Median contract rent,Median gross rent (contract rent plus utilities),Median value (dollars) for Owner-Occupied housing units,Median Selected Monthly Owner Costs (Dollars) by Mortgage Status,NAME
Zipcode,,,,,,
78610,1999.0,869.0,1084.0,182400.0,1634.0,ZCTA5 78610
78613,2000.0,956.0,1107.0,198900.0,1799.0,ZCTA5 78613
78617,1999.0,813.0,1105.0,99700.0,1202.0,ZCTA5 78617
78641,2000.0,1041.0,1312.0,156900.0,1576.0,ZCTA5 78641
78652,1985.0,925.0,1113.0,191200.0,1665.0,ZCTA5 78652

In [118]:
# Save as CSV
Austin_housing.to_csv(f"../Resources/Census.gov/Clean/Austin_housing_{year}.csv", encoding="utf-8")

Filter out Austin Education Data

In [106]:
# Filter out rows where zipcode is in Austin
Austin_education = us_education_df[us_education_df["Zipcode"].isin(Austin_zip_codes)]

# Set zipcode as index
Austin_education = Austin_education.set_index("Zipcode")

Austin_education.head()

,Education (No Schooling),Education (High School),Education (GED),Education (Associate's),Education (Bachelor's),Education (Master's),Education (Professional),Education (Doctorate),NAME
Zipcode,,,,,,,,,
78610,34.0,3103.0,665.0,1182.0,3801.0,1211.0,97.0,155.0,ZCTA5 78610
78613,78.0,5730.0,1114.0,3437.0,14141.0,4377.0,802.0,514.0,ZCTA5 78613
78617,474.0,2982.0,812.0,454.0,1270.0,227.0,12.0,0.0,ZCTA5 78617
78641,405.0,5219.0,1381.0,2870.0,7161.0,2025.0,211.0,211.0,ZCTA5 78641
78652,25.0,713.0,51.0,164.0,1271.0,313.0,22.0,10.0,ZCTA5 78652

In [120]:
# Save as CSV
Austin_education.to_csv(f"../Resources/Census.gov/Clean/Austin_education_{year}.csv", encoding="utf-8")