In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from api_key import api_key
c = Census(api_key, year=2013)

In [ ]:
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [ ]:
census_pd.head()

In [ ]:
census_pd.loc[census_pd["Zipcode"]== "78731"]

## US Data
Get Data for all US

Get US Population Data

In [6]:
# Run API Call for Population Data
us_pop_data = c.acs5.get(("NAME", "B01003_001E", "B02001_002E", "B02001_003E",
                      "B02001_004E", "B02001_005E", "B02001_006E", "B02001_008E",                                             
                      "B01002_001E","B19013_001E",                       
                      "B19301_001E", "B23025_004E", "B23025_005E"), 
                      {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_pop_df = pd.DataFrame(us_pop_data)

In [8]:
# Column Reordering
us_pop_df = us_pop_df.rename(columns={
                                  "zip code tabulation area": "Zipcode",
                                  "B01003_001E": "Population",
                                  "B02001_002E": "Population (White Alone)",
                                  "B02001_003E": "Population (Black Alone)", 
                                  "B02001_004E": "Population (American Indian or Alaskan Native Alone)",
                                  "B02001_005E": "Population (Asian Alone)",
                                  "B02001_006E": "Population (Native Hawaiian and Other Pacific Islander Alone)",
                                  "B02001_008E": "Population (Two or more races)",
                                  "B01002_001E": "Median Age",
                                  "B19013_001E": "Household Income",
                                  "B19301_001E": "Per Capita Income",
                                  "B23025_004E": "Employed",
                                  "B23025_005E": "Unemployed"})

us_pop_df.head()

,Median Age,Population,Population (White Alone),Population (Black Alone),Population (American Indian or Alaskan Native Alone),Population (Asian Alone),Population (Native Hawaiian and Other Pacific Islander Alone),Population (Two or more races),Household Income,Per Capita Income,Employed,Unemployed,NAME,Zipcode
0,38.5,22121.0,18417.0,596.0,76.0,260.0,0.0,585.0,57833.0,29014.0,10888.0,1258.0,ZCTA5 01832,01832
1,42.4,8295.0,8032.0,21.0,6.0,33.0,6.0,186.0,107775.0,43297.0,4196.0,320.0,ZCTA5 01833,01833
2,46.1,6675.0,6496.0,8.0,0.0,171.0,0.0,0.0,97463.0,40222.0,3662.0,233.0,ZCTA5 01834,01834
3,37.1,13527.0,11878.0,612.0,26.0,346.0,0.0,172.0,72228.0,31429.0,7536.0,452.0,ZCTA5 01835,01835
4,36.8,4547.0,1709.0,274.0,52.0,40.0,0.0,174.0,18261.0,14758.0,1483.0,255.0,ZCTA5 01840,01840

Get US Poverty Data

In [9]:
# Run API Call for Poverty Data
us_poverty_data = c.acs5.get(("NAME", "B17001_002E", "B17001_003E", "B17001_017E",
                      "B17001A_002E", "B17001B_002E", "B17001C_002E", "B17001D_002E",
                      "B17001E_002E", "B17001G_002E"), 
                      {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_poverty_df = pd.DataFrame(us_poverty_data)

In [10]:
# Column Reordering
us_poverty_df = us_poverty_df.rename(columns={
                                  "zip code tabulation area": "Zipcode",
                                  "B17001_002E": "Total Poverty Count",
                                  "B17001_003E": "Poverty Male",
                                  "B17001_017E": "Poverty Female",
                                  "B17001A_002E": "Poverty White",
                                  "B17001B_002E": "Poverty Black",
                                  "B17001C_002E": "Poverty American Indian",
                                  "B17001D_002E": "Poverty Asian",
                                  "B17001E_002E": "Poverty Hispanic",
                                  "B17001G_002E": "Poverty Two or More Races"})

us_poverty_df.head()

,Poverty White,Poverty Black,Poverty American Indian,Poverty Asian,Poverty Hispanic,Poverty Two or More Races,Total Poverty Count,Poverty Male,Poverty Female,NAME,Zipcode
0,50.0,0.0,0.0,0.0,0.0,0.0,50.0,14.0,36.0,ZCTA5 01236,01236
1,26.0,0.0,0.0,0.0,0.0,2.0,28.0,9.0,19.0,ZCTA5 01237,01237
2,484.0,9.0,0.0,0.0,0.0,0.0,566.0,229.0,337.0,ZCTA5 01238,01238
3,630.0,0.0,0.0,0.0,0.0,66.0,696.0,258.0,438.0,ZCTA5 01240,01240
4,2.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,2.0,ZCTA5 01242,01242

Get Housing Data

In [11]:
# Run API Call for Housing Data
us_housing_data = c.acs5.get(("NAME", "B25035_001E", "B25058_001E", 
                              "B25064_001E", "B25077_001E", "B25088_002E"), 
                              {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_housing_df = pd.DataFrame(us_housing_data)

In [12]:
# Column Reordering
us_housing_df = us_housing_df.rename(columns={
                                  "zip code tabulation area": "Zipcode",
                                  "B25035_001E": "Median year housing units were built",
                                  "B25058_001E": "Median contract rent",
                                  "B25064_001E": "Median gross rent (contract rent plus utilities)",
                                  "B25077_001E": "Median value (dollars) for Owner-Occupied housing units",
                                  "B25088_002E": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status"})

us_housing_df.head()

,Median year housing units were built,Median contract rent,Median gross rent (contract rent plus utilities),Median value (dollars) for Owner-Occupied housing units,Median Selected Monthly Owner Costs (Dollars) by Mortgage Status,NAME,Zipcode
0,1939.0,742.0,830.0,244900.0,2038.0,ZCTA5 02838,02838
1,1978.0,834.0,949.0,240900.0,1869.0,ZCTA5 02839,02839
2,1939.0,989.0,1113.0,387100.0,2129.0,ZCTA5 02840,02840
3,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,ZCTA5 02841,02841
4,1970.0,1138.0,1195.0,347800.0,2049.0,ZCTA5 02842,02842

Get Education Data

In [13]:
# Run API Call for Housing Data
us_education_data = c.acs5.get(("NAME", "B15003_002E", "B15003_017E", "B15003_018E", 
                                "B15003_021E", "B15003_022E", "B15003_023E", 
                                "B15003_024E," "B15003_025E"), 
                                {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_education_df = pd.DataFrame(us_education_data)

In [14]:
# Column Reordering
us_education_df = us_education_df.rename(columns={
                                  "zip code tabulation area": "Zipcode",
                                  "B15003_002E": "Education (No Schooling)",
                                  "B15003_017E": "Education (High School)",
                                  "B15003_018E": "Education (GED)",
                                  "B15003_021E": "Education (Associate's)",
                                  "B15003_022E": "Education (Bachelor's)",
                                  "B15003_023E": "Education (Master's)",
                                  "B15003_024E": "Education (Professional)",
                                  "B15003_025E": "Education (Doctorate)"})

us_education_df.head()

,Education (No Schooling),Education (High School),Education (GED),Education (Associate's),Education (Bachelor's),Education (Master's),Education (Professional),Education (Doctorate),NAME,Zipcode
0,0.0,262.0,29.0,48.0,324.0,220.0,37.0,21.0,ZCTA5 01236,01236
1,5.0,654.0,48.0,178.0,288.0,211.0,15.0,30.0,ZCTA5 01237,01237
2,84.0,1108.0,98.0,369.0,1122.0,410.0,108.0,79.0,ZCTA5 01238,01238
3,59.0,884.0,12.0,274.0,776.0,591.0,246.0,73.0,ZCTA5 01240,01240
4,0.0,38.0,0.0,28.0,26.0,18.0,0.0,0.0,ZCTA5 01242,01242

## Austin Data
Filter out the Austin Data