In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Set variable to hold year
year = 2018

# Census API Key
from api_key import api_key
c = Census(api_key, year=year)

## US Data
#### Get Data for all US

Get US Population Data

In [2]:
# Run API Call for Population Data
us_pop_data = c.acs5.get(("NAME", "B01003_001E", "B02001_002E", "B02001_003E",
                      "B02001_004E", "B02001_005E", "B02001_006E", "B02001_008E",                                             
                      "B01002_001E","B19013_001E",                       
                      "B19301_001E", "B23025_004E", "B23025_005E"), 
                      {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_pop_df = pd.DataFrame(us_pop_data)

In [3]:
# Column Reordering
us_pop_df = us_pop_df.rename(columns={
                                  "zip code tabulation area": "Zipcode",
                                  "B01003_001E": "Population",
                                  "B02001_002E": "Population (White Alone)",
                                  "B02001_003E": "Population (Black Alone)", 
                                  "B02001_004E": "Population (American Indian or Alaskan Native Alone)",
                                  "B02001_005E": "Population (Asian Alone)",
                                  "B02001_006E": "Population (Native Hawaiian and Other Pacific Islander Alone)",
                                  "B02001_008E": "Population (Two or more races)",
                                  "B01002_001E": "Median Age",
                                  "B19013_001E": "Household Income",
                                  "B19301_001E": "Per Capita Income",
                                  "B23025_004E": "Employed",
                                  "B23025_005E": "Unemployed"})

# Add column for year
us_pop_df["Year"] = year

us_pop_df.head()

,Median Age,Population,Population (White Alone),Population (Black Alone),Population (American Indian or Alaskan Native Alone),Population (Asian Alone),Population (Native Hawaiian and Other Pacific Islander Alone),Population (Two or more races),Household Income,Per Capita Income,Employed,Unemployed,NAME,Zipcode,Year
0,46.2,8642.0,8226.0,256.0,2.0,21.0,0.0,137.0,42826.0,24329.0,3564.0,342.0,ZCTA5 43964,43964,2018
1,35.2,51116.0,13583.0,32929.0,25.0,1054.0,0.0,1251.0,48647.0,26775.0,25800.0,2533.0,ZCTA5 28216,28216,2018
2,38.8,71605.0,51272.0,6346.0,200.0,10533.0,0.0,2276.0,105885.0,51740.0,37198.0,1595.0,ZCTA5 28277,28277,2018
3,35.6,27286.0,14515.0,8672.0,7.0,1709.0,53.0,1740.0,90282.0,38536.0,15182.0,856.0,ZCTA5 28278,28278,2018
4,35.1,29414.0,14358.0,11486.0,187.0,1185.0,132.0,1721.0,39896.0,27452.0,11384.0,805.0,ZCTA5 28303,28303,2018

Get US Poverty Data

In [4]:
# Run API Call for Poverty Data
us_poverty_data = c.acs5.get(("NAME", "B17001_002E", "B17001_003E", "B17001_017E",
                      "B17001A_002E", "B17001B_002E", "B17001C_002E", "B17001D_002E",
                      "B17001E_002E", "B17001G_002E"), 
                      {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_poverty_df = pd.DataFrame(us_poverty_data)

In [5]:
try:
    # Column Reordering
    us_poverty_df = us_poverty_df.rename(columns={
                                      "zip code tabulation area": "Zipcode",
                                      "B17001_002E": "Total Poverty Count",
                                      "B17001_003E": "Poverty Male",
                                      "B17001_017E": "Poverty Female",
                                      "B17001A_002E": "Poverty White",
                                      "B17001B_002E": "Poverty Black",
                                      "B17001C_002E": "Poverty American Indian",
                                      "B17001D_002E": "Poverty Asian",
                                      "B17001E_002E": "Poverty Hispanic",
                                      "B17001G_002E": "Poverty Two or More Races"})

    # Create dictionary to add year
    Year_dict = {
        
    }
    
    # Add row for year
    us_poverty_df.append(year)

    us_poverty_df.head()
except:
    print(f"No data available for {year}.")

Get Housing Data

In [6]:
# Run API Call for Housing Data
us_housing_data = c.acs5.get(("NAME", "B25035_001E", "B25058_001E", 
                              "B25064_001E", "B25077_001E", "B25088_002E"), 
                              {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
us_housing_df = pd.DataFrame(us_housing_data)

In [7]:
try:
    # Column Reordering
    us_housing_df = us_housing_df.rename(columns={
                                      "zip code tabulation area": "Zipcode",
                                      "B25035_001E": "Median year housing units were built",
                                      "B25058_001E": "Median contract rent",
                                      "B25064_001E": "Median gross rent (contract rent plus utilities)",
                                      "B25077_001E": "Median value (dollars) for Owner-Occupied housing units",
                                      "B25088_002E": "Median Selected Monthly Owner Costs (Dollars) by Mortgage Status"})

    # Add column for year
    us_housing_df["Year"] = year

    us_housing_df.head()
except:
    print(f"No data available for {year}.")

Get Education Data

In [8]:
try:
    # Run API Call for Housing Data
    us_education_data = c.acs5.get(("NAME", "B15003_002E", "B15003_017E", "B15003_018E", 
                                    "B15003_021E", "B15003_022E", "B15003_023E", 
                                    "B15003_024E," "B15003_025E"), 
                                    {'for': 'zip code tabulation area:*'})

    # Convert to DataFrame
    us_education_df = pd.DataFrame(us_education_data)

except:
    print(f"No data available for {year}.")

In [9]:
try:
    # Column Reordering
    us_education_df = us_education_df.rename(columns={
                                      "zip code tabulation area": "Zipcode",
                                      "B15003_002E": "Education (No Schooling)",
                                      "B15003_017E": "Education (High School)",
                                      "B15003_018E": "Education (GED)",
                                      "B15003_021E": "Education (Associate's)",
                                      "B15003_022E": "Education (Bachelor's)",
                                      "B15003_023E": "Education (Master's)",
                                      "B15003_024E": "Education (Professional)",
                                      "B15003_025E": "Education (Doctorate)"})

    # Add column for year
    us_education_df["Year"] = year

    us_education_df.head()
except:
    print(f"No data available for {year}.")

## Austin Data
#### Filter out Data for Austin Zip codes

In [10]:
# Create a list of Austin zip codes
Austin_zip_codes = ["78610", "78613", "78617", "78641", "78652", "78653", "78660", "78664", "78681", 
                    "78701", "78702", "78703", "78704", "78705", "78712", "78717", "78719", "78721", 
                    "78722", "78723", "78724", "78725", "78726", "78727", "78728", "78729", "78730", 
                    "78731", "78732", "78733", "78734", "78735", "78736", "78737", "78738", "78739", 
                    "78741", "78742", "78744", "78745", "78746", "78747", "78748", "78749", "78750", 
                    "78751", "78752", "78753", "78754", "78756", "78757", "78758", "78759"]

Filter out Austin Population Data

In [11]:
try:
    # Filter out rows where zipcode is in Austin
    Austin_pop = us_pop_df[us_pop_df["Zipcode"].isin(Austin_zip_codes)]

    # Set zipcode as index
    Austin_pop = Austin_pop.set_index("Zipcode")

    # Drop "NAME column"
    Austin_pop = Austin_pop.drop("NAME", axis=1)

    Austin_pop.head()
except:
    print(f"No data available for {year}.")

In [12]:
# Save as CSV
Austin_pop.to_csv(f"../Resources/Census.gov/By_Year/Austin_population_{year}.csv", encoding="utf-8")

Filter out Austin Poverty Data

In [13]:
try:
    # Filter out rows where zipcode is in Austin
    Austin_poverty = us_poverty_df[us_poverty_df["Zipcode"].isin(Austin_zip_codes)]

    # Set zipcode as index
    Austin_poverty = Austin_poverty.set_index("Zipcode")

    # Drop "NAME column"
    Austin_poverty = Austin_poverty.drop("NAME", axis=1)

    Austin_poverty.head()
except:
    print(f"No data available for {year}.")

In [14]:
# Save as CSV
Austin_poverty.to_csv(f"../Resources/Census.gov/By_Year/Austin_poverty_{year}.csv", encoding="utf-8")

Filter out Austin Housing Data

In [15]:
try:
    # Filter out rows where zipcode is in Austin
    Austin_housing = us_housing_df[us_housing_df["Zipcode"].isin(Austin_zip_codes)]

    # Set zipcode as index
    Austin_housing = Austin_housing.set_index("Zipcode")

    # Drop "NAME column"
    Austin_housing = Austin_housing.drop("NAME", axis=1)

    Austin_housing.head()
except:
    print(f"No data available for {year}.")

In [16]:
# Save as CSV
Austin_housing.to_csv(f"../Resources/Census.gov/By_Year/Austin_housing_{year}.csv", encoding="utf-8")

Filter out Austin Education Data

In [17]:
try:
    # Filter out rows where zipcode is in Austin
    Austin_education = us_education_df[us_education_df["Zipcode"].isin(Austin_zip_codes)]

    # Set zipcode as index
    Austin_education = Austin_education.set_index("Zipcode")

    # Drop "NAME column"
    Austin_education = Austin_education.drop("NAME", axis=1)

    Austin_education.head()
except:
    print(f"No data available for {year}.")

In [18]:
try:
    # Save as CSV
    Austin_education.to_csv(f"../Resources/Census.gov/By_Year/Austin_education_{year}.csv", encoding="utf-8")
except:
    print(f"No data available for {year}.")